$fontsize-12: 12px;
$fontsize-14: 14px;
$fontsize-18: 18px;
$fontsize-36: 36px;

$DominantColorBlue:#39BDF0;  //主色浅蓝色
$DominantFontColor6F:#6f6f6f; // 字体颜色
$DominantFontColorc7:#c7c7c7; // 字体颜色
$DominantFontColorfff:#fff; // 白色
$unit: #0064b3;//课程单元字体颜色
$progress: #3551a1;//进度条字体颜色